version: "3.2"
services:
  caffeine:
    image: dddecaf/caffeine-vue-demo:latest
    ports:
      - "4200:80"
    restart: always

  iam:
    image: gcr.io/dd-decaf-cfbf6/iam:${IAM_TAG}
    ports:
      - "8001:8000"
    volumes:
      - "./iam:/app"
      - type: tmpfs
        target: "/prometheus-client"
    depends_on:
      - postgres
    environment:
      - ENVIRONMENT=development
      - SCRIPT_NAME=
      - SERVICE_URL=
      - FLASK_APP=src/iam/wsgi.py
      - ALLOWED_ORIGINS=*
      - SENTRY_DSN=
      - BASIC_AUTH_USERNAME=admin
      - BASIC_AUTH_PASSWORD=admin
      - FEAT_TOGGLE_LOCAL_AUTH=1
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=iam
      - DB_USERNAME=postgres
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - FEAT_TOGGLE_FIREBASE=
      - FIREBASE_CLIENT_CERT_URL=
      - FIREBASE_CLIENT_EMAIL=
      - FIREBASE_CLIENT_ID=
      - FIREBASE_PRIVATE_KEY_ID=
      - FIREBASE_PRIVATE_KEY=
      - prometheus_multiproc_dir=/prometheus-client
    restart: always

  map-storage:
    image: gcr.io/dd-decaf-cfbf6/maps:${MAP_STORAGE_TAG}
    depends_on:
      - postgres
      - iam
    ports:
      - "8002:8000"
    volumes:
      - "./map-storage:/app"
    environment:
      - ENVIRONMENT=development
      - FLASK_APP=src/map_storage/wsgi.py
      - SCRIPT_NAME=
      - ALLOWED_ORIGINS=*
      - SENTRY_DSN=
      - IAM_API=http://iam:8000
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB_NAME=maps
      - POSTGRES_USERNAME=postgres
      - POSTGRES_PASS=${POSTGRES_PASSWORD}
    restart: always

  metabolic-ninja:
    image: gcr.io/dd-decaf-cfbf6/metabolic-ninja:${METABOLIC_NINJA_TAG}
    depends_on:
    - postgres
    - iam
    - rabbitmq
    ports:
    - "8003:8000"
    volumes:
    - "./metabolic-ninja:/app"
    environment:
    - ENVIRONMENT=development
    - FLASK_APP=src/metabolic_ninja/wsgi.py
    - SCRIPT_NAME=
    - ALLOWED_ORIGINS=*
    - SENTRY_DSN=
    - RABBITMQ_HOST=rabbitmq
    - MODEL_STORAGE_API=http://model-storage:8000
    - POSTGRES_HOST=postgres
    - POSTGRES_PORT=5432
    - POSTGRES_DB_NAME=metabolic_ninja
    - POSTGRES_USERNAME=postgres
    - POSTGRES_PASS=${POSTGRES_PASSWORD}
    - IAM_API=http://iam:8000
    - WAREHOUSE_API=http://warehouse:8000
    restart: always

  metabolic-ninja-worker:
    image: gcr.io/dd-decaf-cfbf6/metabolic-ninja:${METABOLIC_NINJA_TAG}
    depends_on:
    - rabbitmq
    - iam
    volumes:
    - "./metabolic-ninja:/app"
    environment:
    - ENVIRONMENT=development
    - SENTRY_DSN=
    - RABBITMQ_HOST=rabbitmq
    - POSTGRES_HOST=postgres
    - POSTGRES_PORT=5432
    - POSTGRES_DB_NAME=metabolic_ninja
    - POSTGRES_USERNAME=postgres
    - POSTGRES_PASS=${POSTGRES_PASSWORD}
    - SENDGRID_API_KEY=
    restart: on-failure

  simulations:
    image: gcr.io/dd-decaf-cfbf6/simulations:${SIMULATIONS_TAG}
    ports:
      - "8004:8000"
    depends_on:
      - iam
    environment:
      - ENVIRONMENT=development
      - SCRIPT_NAME=
      - REDIS_ADDR=redis
      - REDIS_PORT=6379
      - IAM_API=http://iam:8000
      - ID_MAPPER_API=https://api.dd-decaf.eu/idmapping/query
      - MODEL_STORAGE_API=http://model-storage:8000
      - ICE_API=http://localhost
      - ICE_USERNAME=
      - ICE_PASSWORD=
      - prometheus_multiproc_dir=/prometheus-client
    volumes:
      - ./simulations:/app
      - type: tmpfs
        target: "/prometheus-client"
    restart: always

  model-storage:
    image: gcr.io/dd-decaf-cfbf6/model-storage:${MODEL_STORAGE_TAG}
    depends_on:
      - postgres
      - iam
    ports:
      - "8005:8000"
    volumes:
      - "./model-storage:/app"
    environment:
      - ENVIRONMENT=development
      - FLASK_APP=src/model_storage/wsgi.py
      - SCRIPT_NAME=
      - ALLOWED_ORIGINS=*
      - SENTRY_DSN=
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB_NAME=model_storage
      - POSTGRES_USERNAME=postgres
      - POSTGRES_PASS=${POSTGRES_PASSWORD}
      - IAM_API=http://iam:8000
    restart: always

  warehouse:
    image: gcr.io/dd-decaf-cfbf6/warehouse:${WAREHOUSE_TAG}
    depends_on:
      - postgres
      - iam
    ports:
      - "8006:8000"
    volumes:
      - "./warehouse:/app"
    environment:
      - ENVIRONMENT=development
      - SCRIPT_NAME=
      - FLASK_APP=src/warehouse/wsgi.py
      - ALLOWED_ORIGINS=*
      - SENTRY_DSN=
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB_NAME=warehouse
      - POSTGRES_ENV_USERNAME=postgres
      - POSTGRES_ENV_PASS=${POSTGRES_PASSWORD}
      - BASIC_AUTH_USERNAME=
      - BASIC_AUTH_PASSWORD=
      - IAM_API=http://iam:8000
    restart: always

  design-storage:
    image: gcr.io/dd-decaf-cfbf6/design-storage:${DESIGN_STORAGE_TAG}
    depends_on:
       - postgres
       - iam
    ports:
      - "8007:8000"
    volumes:
      - "./design-storage:/app"
    environment:
      - ENVIRONMENT=development
      - FLASK_APP=src/design_storage/wsgi.py
      - SCRIPT_NAME=
      - ALLOWED_ORIGINS=*
      - SENTRY_DSN=
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB_NAME=designs
      - POSTGRES_USERNAME=postgres
      - POSTGRES_PASS=${POSTGRES_PASSWORD}
      - IAM_API=http://iam:8000
    restart: always

  id-mapper:
    image: gcr.io/dd-decaf-cfbf6/id-mapper:${ID_MAPPER_TAG}
    ports:
      - "8008:8000"
    depends_on:
      - neo4j
    volumes:
      - "./id-mapper:/app"
    environment:
      - ENVIRONMENT=development
      - FLASK_APP=src/id_mapper/wsgi.py
      - SCRIPT_NAME=
      - ALLOWED_ORIGINS=*
      - SENTRY_DSN=
      - ID_MAPPER_API=http://neo4j
      - ID_MAPPER_PORT=7474
      - ID_MAPPER_PASSWORD=1
      - ID_MAPPER_USER=neo4j
    restart: always

  metanetx:
    image: gcr.io/dd-decaf-cfbf6/metanetx:${METANETX_TAG}
    ports:
      - "8009:8000"
    volumes:
      - "./metanetx:/app"
    environment:
      - ENVIRONMENT=development
      - FLASK_APP=src/metanetx/wsgi.py
      - SCRIPT_NAME=
      - ALLOWED_ORIGINS=*
      - SENTRY_DSN=
    # Override preload setting in development environment to avoid timeouts
    # while parsing the metanetx source files on startup.
    command: gunicorn -c gunicorn.py --preload metanetx.wsgi:app

  neo4j:
    image: neo4j:3.1
    ports:
      - 7474:7474
      - 7687:7687
    volumes:
      - "./id-mapper-dump:/dump"
    environment:
      - NEO4J_AUTH=neo4j/1
    restart: always

  postgres:
    image: postgres:9.6-alpine
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    restart: always

  rabbitmq:
    image: rabbitmq:3.7
    ports:
      - "6379:6379"
