name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  POSTGRES_PASSWORD: secret

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Print versions of important tools.
      run: |
        bash --version
        git --version
        make --version
        docker version
        docker-compose version
    - name: Check for the availability of all required command line tools.
      id: check
      run: make check
      if: always()
    - name: Print outcome
      run: echo "${{ steps.check.outcome }}"
    - name: Download all dependent repositories.
      id: setup
      run: make setup
      if: steps.check.outcome == 'failure' || steps.check.outcome == 'success'
    - name: Build all local Docker images.
      id: install
      run: make install -j -O
      if: steps.setup.outcome == 'success'
    - name: Initialize databases.
      id: initialize
      run: make initialize
      if: steps.install.outcome == 'success'

